.logo_container>h1 {
    font-size: 2rem;
    letter-spacing: 0.7rem;
    margin: 0;
}

.logo_container>h2 {
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
    margin: 0;
}

.top_bar {
    padding: rem;
}

.top_bar_content {
    display: flex;
    justify-content: space-between;
}

.button_container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.top_bar_button {
    font-size: 1rem;
}

.top_bar_button:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.05rem;
    transition: 0.2s;
}